body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#app {
    max-width: 600px;
    margin: 20px auto;
    background: linear-gradient(to bottom right, #3498db, #2ecc71);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

button, input {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    outline: none;
}

button {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

input {
    width: 100%;
}

#panels {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.panel {
    flex: 1;
    text-align: center;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 5px;
}

#homePanel {
    margin-top: 20px;
}

#homePanel h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}
